In [2]:
from isotools import Batch
from isotools.config import Nitrogen
from isotools.strategies import TwoPointLinear
from isotools.standards import USGS32, USGS34, USGS35

In [ ]:
# 1. Initialize
run = Batch(r"DATA\nitrate 26112025.xls", config=Nitrogen)
run

In [ ]:
# 2. Inspect & Clean
print(run.data_view)
run.exclude_rows([26])  # Bad injection

             n_injections
sample_name
USGS32                  4
USGS34                  4
USGS35                  4
nitrato ES3             4
nitrato ES6             4

In [ ]:
# 3. Configure
run.set_anchors(["USGS32", "USGS34"])  # Matches aliases automatically
run.set_controls(["USGS35"])

In [11]:
# 4. Process (The Heavy Lifting)
run.process(TwoPointLinear())

In [12]:
# 5. Results
print("--- Final Report ---")
print(run.report)

--- Final Report ---
             corrected_d15n  combined_uncertainty  count
sample_name
USGS32               180.00                  1.03      4
USGS34                -1.80                  0.20      4
USGS35                 2.80                  0.20      3
nitrato ES3          -22.21                  0.25      4
nitrato ES6           -1.65                  0.88      4

In [13]:
print("\n--- QC Report ---")
print(run.qaqc)

--- QC Report ---
        True_Value  corrected_d15n      Bias  Within_Unc
USGS35         2.7        2.798378  0.098378        True

In [ ]:
# 6. Access state
run.replicates

,row,sample_name,sample_id_2,amount,comment,peak_nr,amp_28,amp_29,area_28,area_29,r15n,d15n,excluded,corrected_d15n
3,10,nitrato ES3,NaN,0.558,NaN,2,5055,3592,71.990,0.511,0.003622,-15.346,False,-22.194977
5,11,nitrato ES3,NaN,0.588,NaN,2,5445,3867,78.306,0.556,0.003622,-15.414,False,-22.262545
7,12,nitrato ES3,NaN,0.592,NaN,2,5314,3774,77.983,0.554,0.003622,-15.287,False,-22.136351
9,13,nitrato ES3,NaN,0.559,NaN,2,4891,3474,71.222,0.506,0.003622,-15.412,False,-22.260558
11,14,nitrato ES6,NaN,0.487,NaN,2,5684,4128,83.973,0.610,0.003702,6.575,False,-0.413109
13,15,nitrato ES6,NaN,0.479,NaN,2,5039,3660,72.894,0.529,0.003703,6.664,False,-0.324674
15,16,nitrato ES6,NaN,0.479,NaN,2,5196,3769,75.154,0.545,0.003697,5.110,False,-1.868810
17,17,nitrato ES6,NaN,0.470,NaN,2,4816,3485,69.796,0.505,0.003689,2.959,False,-4.006158
19,18,USGS32,NaN,0.573,NaN,2,4238,3634,61.223,0.525,0.004370,187.951,False,179.811703
21,19,USGS32,NaN,0.582,NaN,2,5282,4530,76.444,0.655,0.004369,187.728,False,179.590118
23,20,USGS32,NaN,0.575,NaN,2,5144,4412,74.622,0.640,0.004371,188.368,False,180.226056
25,21,USGS32,NaN,0.576,NaN,2,5233,4489,75.754,0.649,0.004372,188.515,False,180.372123
27,22,USGS34,NaN,0.486,NaN,2,4419,3204,64.255,0.466,0.003697,5.204,False,-1.775407
29,23,USGS34,NaN,0.476,NaN,2,4346,3152,63.216,0.458,0.003697,5.208,False,-1.771432
31,24,USGS34,NaN,0.487,NaN,2,4441,3221,64.704,0.469,0.003697,5.108,False,-1.870798
33,25,USGS34,NaN,0.477,NaN,2,4337,3146,63.243,0.458,0.003697,5.197,False,-1.782363
35,26,USGS35,NaN,0.478,NaN,2,5868,4290,90.636,0.657,0.003678,0.000,True,-6.946377
38,27,USGS35,NaN,0.477,NaN,2,5142,3747,74.471,0.542,0.003714,9.782,False,2.773536
40,28,USGS35,NaN,0.486,NaN,2,5273,3842,76.092,0.554,0.003714,9.836,False,2.827194
42,29,USGS35,NaN,0.474,NaN,2,5129,3738,73.651,0.536,0.003714,9.803,False,2.794403

In [16]:
run.report

             corrected_d15n  combined_uncertainty  count
sample_name
USGS32               180.00                  1.03      4
USGS34                -1.80                  0.20      4
USGS35                 2.80                  0.20      3
nitrato ES3          -22.21                  0.25      4
nitrato ES6           -1.65                  0.88      4